/*导航header标签设置*/
.menu {
    width: 100%;
    height: 80px;
    background-color: black ;
    line-height:80px;
}
.menu a{
    margin-left: 15px;
    color: white;
    text-decoration: none ;
}
.menu h1{
    width: 200px;
    display: inline;
    margin-left: 0;
    margin-right:80px ;
}
.menu  li{
    display: inline;
    margin-right: 40px;
}
.search_bar{
    display: inline;
}

/*轮播图*/
.swiper-wrapper img {
    width: 550px;
    height: 260px;
}
/*常用链接*/
.links {
    display:block;
    float: left;
    margin: 10px 10px 10px 10px;
}
.links img {
    width: 270px;
    height: 125px;
    border-radius: 5px;
}
/*名片*/
.card {
    width: 280px;
    height: 262px;
    background-color: black;
    color: white;
    display: block;
    float: left;
    margin:10px 10px 10px 10px;
    border-radius: 5px;
}
.card h1 {
    color:#cccccc;
    font-weight:normal;
    margin: 5px;
}
.card ul{
    margin:10px 10px 10px 20px;
}
.card li{
    color:#cccccc;
    font-weight: normal;
    font-size: small;
    line-height: 30px;
}