/*导航header标签设置*/
.menu {
    width: 100%;
    height: 80px;
    background-color: black ;
    line-height:80px;
}
.menu a{
    margin-left: 15px;
    color: white;
    text-decoration: none ;
}
.menu h1{
    width: 200px;
    display: inline;
    margin-left: 0;
    margin-right:80px ;
}
.menu  li{
    display: inline;
    margin-right: 40px;
}
.search_bar{
    display: inline;
}

/*轮播图*/
.swiper-wrapper img {
    width: 600px;
    height: 260px;
}

/*常用链接*/
.links {
    display:block;
    float: left;
    margin: 10px 10px 10px 10px;
}
.links img {
    width: 270px;
    height: 125px;
    border-radius: 5px;
}

/*名片*/
.card {
    width: 280px;
    height: 262px;
    background-color: rgba(42,42,42,1);
    color: white;
    display: block;
    float: left;
    margin:10px 10px 10px 10px;
    border-radius: 5px;
}
.card h1 {
    color:#cccccc;
    font-weight:normal;
    margin:10px 10px 2px 20px;
}
.card_info {
    margin:20px 10px 10px 35px;
}
.personalInfo {
    color:#cccccc;
    font-size: small;
    line-height: 30px;
}
.card_link {
    margin-left: 30px;
}
.card_link li{
    width: 53px;
    height: 53px;
    float: left;
    margin: 0 3px;
}
.card_link li a{
    height: 53px;
    display: block;
    overflow: hidden;
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    border-radius: 50%;
    cursor: pointer;
}
.card_link i{
    display: block;
    position: absolute;
    top: 170px;
    right: 145px;
}
.card img {
    width: 100px;
    height: 100px;
    display: none;
}
#qq:hover img{
        display:block;
    }
#wechat:hover img {
    display: block;
}
#git {
    color: #ef5509;
    background:url("../image/c01.png") no-repeat center;
}
#mail {
    background: url("../image/c02.png") no-repeat center;
}
#qq {
    background: url("../image/c03.png") no-repeat center;
}
#wechat {
    background: url("../image/c04.png") no-repeat center;
}

/*更新列表*/
.tab_news {
    float: left;
    width: 895px;
    height: 300px;
    position: relative;
    background-color: white;
    margin:10px 10px 10px 120px;
    border-radius: 5px;
}
.tab_news ul{
    margin:0;
    padding: 0;
    float: left;
    width: 895px;
    height: 300px;
    position: relative;
}
.tab_container {
    list-style: none;
    float: left;
    border-radius: 5px;
}

.tab_content {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: 260px;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    line-height: 300px;
    color:#000000;
    transition: all .3s;
}
.tab_content:target{
    opacity: 1;
}
.tab_content:target+a{
    color: #ffffff;
    background-color: #007aff;
}
.tab_container a{
    width: 120px;
    height: 40px;
    border-radius:5px;
    line-height: 40px;
    text-decoration: none ;
    color: black;
    float: left;
    cursor: pointer;
    transition: all .3s;
    box-sizing: border-box;
    cursor:pointer ;
    text-align: center ;
    /*margin-right: 30px;*/
    /*margin-left: 10px;*/
    border-right: 3px solid #cccccc;
}
.tab_container :last-child a{
    border-right: 1px solid #000;
}
#tab1{
    /*background-color: #0f0;*/
}
#tab2 {
    /*background-color: #00f;*/
}
#tab3 {
    /*background-color: #f0f;*/
}
