/*导航header标签设置*/
.menu {
    width: 100%;
    height: 80px;
    background-color: black ;
    line-height:80px;
}
.menu a{
    margin-left: 15px;
    color: white;
    text-decoration: none ;
}
.menu h1{
    width: 200px;
    display: inline;
    margin-left: 0;
    margin-right:80px ;
}
.menu  li{
    display: inline;
    margin-right: 40px;
}
.search_bar{
    display: inline;
}

/*轮播图*/
.swiper-wrapper img {
    width: 600px;
    height: 260px;
}

/*常用链接*/
.links {
    display:block;
    float: left;
    margin: 10px 10px 10px 10px;
}
.links img {
    width: 270px;
    height: 125px;
    border-radius: 5px;
}

/*名片*/
.card {
    width: 280px;
    height: 262px;
    background-color: rgba(42,42,42,1);
    color: white;
    display: block;
    float: left;
    margin:10px 10px 10px 10px;
    border-radius: 5px;
}
.card h1 {
    color:#cccccc;
    font-weight:normal;
    margin:10px 10px 2px 20px;
}
.card_info {
    margin:20px 10px 10px 35px;
}
.personalInfo {
    color:#cccccc;
    font-size: small;
    line-height: 30px;
}
.card_link {
    margin-left: 30px;
}
.card_link li{
    width: 53px;
    height: 53px;
    float: left;
    margin: 0 3px;
}
.card_link li a{
    height: 53px;
    display: block;
    overflow: hidden;
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    border-radius: 50%;
    cursor: pointer;
}
.card_link i{
    display: block;
    position: absolute;
    top: 170px;
    right: 145px;
}
.card img {
    width: 100px;
    height: 100px;
    display: none;
}
#qq:hover img{
        display:block;
    }
#wechat:hover img {
    display: block;
}
#git {
    color: #ef5509;
    background:url("../image/c01.png") no-repeat center;
}
#mail {
    background: url("../image/c02.png") no-repeat center;
}
#qq {
    background: url("../image/c03.png") no-repeat center;
}
#wechat {
    background: url("../image/c04.png") no-repeat center;
}

/*target伪类实现tab更新列表*/
.tab_news {
    float: left;
    width: 895px;
    height: 350px;
    position: relative;
    background-color: white;
    margin:10px 10px 10px 120px;
    border-radius: 5px;
}
.tab_news ul{
    margin:0;
    padding: 0;
    float: left;
    width: 895px;
    height: 300px;
    position: relative;
}
.tab_container {
    list-style: none;
    float: left;
    border-radius: 5px;
}
.tab_content {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 49px;
    border-top:2px solid #E9EAED ;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    line-height: 300px;
    color:#000000;
    transition: all .3s;
}
.tab_content:target{
    opacity: 1;
}
.tab_content:target+a{
    border-bottom: 3px solid #000000;
}
.tab_container a{
    width: 120px;
    height: 50px;
    border-radius:5px;
    line-height: 50px;
    text-decoration: none ;
    color: black;
    float: left;
    cursor: pointer;
    transition: all .3s;
    box-sizing: border-box;
    cursor:pointer ;
    text-align: center ;
    /*margin-right: 30px;*/
    /*margin-left: 10px;*/
    border-radius:0 ;
}
#tab1{
    /*background-color: #0f0;*/
}
#tab2 {
    /*background-color: #00f;*/
}
#tab3 {
    /*background-color: #f0f;*/
}

/*站长推荐*/
.myRecommends {
    float: left;
    width: 280px;
    height: 350px;
    position: relative;
    background-color: #ffffff;
    float: left;
    margin:10px 10px 40px 10px;
    border-radius: 5px;
    vertical-align: middle;
}
.reco_title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    border-bottom: 2px solid #E9EAED;
    text-indent: 10px;
}
.reco_content {
    top:50px;
    height: 300px;
    width: 100%;
}
.reco_content span{
    width:17px;
    height:17px;
    color: #ffffff;
    background-color: #ec7c24;
    display: inline-block;
    vertical-align: middle;
    line-height: 17px;
    text-align: center ;
    margin-left: 10px;
}
.reco_content li:first-child {
    margin-top: 30px;
}
.reco_content li{
    margin-left: 20px;
    margin-top: 15px;
    width: 240px;
    height: 40px;
    background-color: #f0f1f4;
    border-radius: 5px;
    color: #101010;
    font-weight: normal;
}
.reco_content {
    line-height: 40px;
    vertical-align: middle;
}
.recommend div{
    display: inline;
}
.reco_content li:hover{
    box-shadow:0px 0px 2px 2px rgba(233, 234, 237, 0.69);
    cursor: pointer ;
}

/*页脚*/
.foot_nav {
    width: 100%;
    height: 150px;
    background-color: #2a2a2a;
    margin: auto;
    overflow: hidden;
    border-top: 10px solid #ec7a16;
}
.weichat_img {
    margin: 10px 100px 5px 200px;
    float: left;
}
.weichat_img li{
    width: 100px;
    text-align: center ;
    color: #787878;
    font-size: small;
    font-weight: normal;
}
.weichat_img img{
    width: 100px;
    height: 100px;
}
.statement {
    margin: 10px 30px 5px 30px;
}
.statement h4 {
    color: #ec7a16;
}
.statement p{
    color: #5a5a5a;
    margin-top: 10px;
    font-weight: normal;
    font-size: small;
}